.idea/
.ipynb_checkpoints/
.DS_Store

data/
models/
notes/
documentation/

__pycache__/

DATA_SETS/images/
DATA_SETS/results/
DATA_SETS/MEN/ORIGINAL_CORPUS/
DATA_SETS/MEN/images/
DATA_SETS/SICK/SICK_CORPUS_ORIG/
DATA_SETS/SICK/images/
DATA_SETS/STS/Stsbenchmark.tar.gz
DATA_SETS/STS/images/
DATA_SETS/WORD_DEF/images/

nohup.out
bert_results.json
